elasticsearch-coursework-backend/mvnw
elasticsearch-coursework-backend/mvnw.cmd
elasticsearch-coursework-backend/.mvn/**
elasticsearch-coursework-backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
elasticsearch-coursework-backend/.idea
elasticsearch-coursework-backend/*.iws
elasticsearch-coursework-backend/*.iml
elasticsearch-coursework-backend/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
